body {
    background: rgb(153,217,234);
    margin: 0 auto;
    color: rgb(0,0,0);
    font-family: Arial;
    color: rgb(63,72,204);
}

table, th , td  {
    border: 3px solid rgb(63,72,204);
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

#id01, #id02 {
    margin-left: 150px;
}

.nav a{
    color: rgb(0,0,0);
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    margin-top: 1px;
    padding: 3px 150px 3px 150px;

}
#roman {
    margin-left: 295px;
}

#horror {
    margin-left: -40px;
}

.header {
    color: rgb(63,72,204);
    margin: 0 auto;
    padding: 0;
}

.logo {
    margin-left: 500px;
    font-size: 30px;
}

.nav {
    position: relative;
    background-color: rgb(63,72,204);
    width: 650px;
    height: 26px;
    border: 3px solid #3f48cc;
    list-style: none;
    margin: 50px 0px 50px 250px;
}

.nav li {
    display: inline;
    list-style: none;
}

#tableHead {
    color: black;
    font-weight: 600;
}